html {
    overflow: hidden; height: 100%; min-height: 100%; }
body { 
    background-color: black; font-size: 3vh; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden; height: 100%; min-height: 100%; }
a {
    font-size: 3vh; color: white; }
header {
    display: flex; justify-content: center; position: sticky; top: 0;
    background-image:linear-gradient(to right,#051A87,#1A798D); height: 13vh; }
footer {
    display: flex; justify-content: center; position: sticky; bottom: 10; width: 100%;
    background-image:linear-gradient(to right,#051A87,#1A798D); height: 7vh; }
nav {
    display: flex; justify-content: center; width: 100vw; }
h1 {
    text-align: center; width: 50%; color: white; font-size: 4vh; }
nav table {
    background-image: linear-gradient(to left,#051A87,#1A798D); }
td {
    padding: 4px; background-color: #1A798D; }
td:hover {
    background-color: #051A87; }
td #current {
    background-color: black; }
main {
    display: flex; justify-content: center; padding: 2% 5%; color: white; height: 100%; min-height: 100%; }
.scrollable {
    height: 68vh;
    overflow-y: auto; }
.crest {
    height: 13vh;
}
.island {
    height: 28vh;
}